* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e8dbc7;
  color: #222;
}

/* Hero Section */
.hero {
  position: relative;
  margin: 2rem;
  border-radius: 15px;
  overflow: hidden;
}

.hero img {
  width: 80%; 
  border-radius: 10px;
  display: block;
  margin: 0 auto; 
}

.hero-text {
  position: absolute;
  right: 16rem;
  bottom: 12rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4rem 5rem;
  border-radius: 15px;
  backdrop-filter: blur(1px);
  text-align: center;
}

.hero-text h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.hero-text h1 {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.hero-text button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-text button:hover {
  background-color: #b55a30;
}

/* Options Section */
.options {
  text-align: center;
  padding: 2rem 3rem;
}

.options h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.item {
  background-color: #fff;
  border-radius: 15px;
  padding: 1rem;
  transition: 0.3s;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 100%;
  border-radius: 10px;
  height: 180px;
  object-fit: cover;
}

.item p {
  font-weight: 600;
  margin-top: 0.8rem;
}

/* Custom Cake Section */
.custom-cake {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 10%;
  background-color: #fff;
  border-radius: 15px;
  margin: 3rem auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.cake-text {
  flex: 1 1 350px;
  max-width: 500px;
}

.cake-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cake-text p {
  color: #555;
  margin-bottom: 2rem;
}

.cake-text button {
  background-color: #000;
  color: #fff;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  margin-left: 155px; 
}

.cake-text button:hover {
  background-color: #b55a30;
}

.custom-cake img {
  flex: 1 1 350px;
  max-width: 400px;
  border-radius: 15px;
}

/* Info Bar */
.info-bar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.8rem 10%;
  gap: 2rem;
  text-align: left;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1 1 250px;
}

.info-item img {
  width: 50px;
  height: 50px;
}

.info-item h3 {
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .custom-cake {
    flex-direction: column;
    text-align: center;
  }
  .cake-text {
    text-align: center;
  }
  .info-bar {
    flex-direction: column;
    align-items: center;
  }
}