<!-- tell Django to load the files inside `static` folder -->
{% load static %}

<!-- start of the navigation bar area -->
<header class="main_header">
  <nav class="header_navbar">
    <a href="{% url 'landing:landing' %}"><img src="{% static 'images/NomNom-Logo.png' %}"/></a>
    <!-- test the navigation bar -->
    <ul class="navbar_ul">
      <li><a href="{% url 'landing:landing' %}">Home</a></li>
      <li><a href="{% url 'about_us:about' %}">About Us</a></li>
      <li><a href="{% url 'login:login' %}">Log in</a></li>
      <li><a href="{% url 'contact:contact' %}">Contact</a></li>
      <li><a href="{% url 'cart:cart' %}"><img src="{% static 'images/Cart-Icon.png' %}"/></a></li>
    </ul>
  </nav>
</header>
