<!-- call the `base.html` template file -->
{% extends 'base.html' %}

<!-- load the `login/static/login/style.css` file -->
{% load static %}

<!-- change the title of the webpage -->
{% block title %} NomNom Sign Up {% endblock %}
<!-- the actual content for the login page -->
{% block content %}
<div class="page-shell">
  <div class="auth-card">
    <h1 class="auth-title">Signup</h1>

    <form method="POST" action="{% url 'login:signup' %}" class="auth-form">
      {% csrf_token %}
      <input class="auth-input" type="text" name="username" placeholder="Username" required />
      <input class="auth-input" type="email" name="email" placeholder="Email" required />
      <input class="auth-input" type="password" name="password" placeholder="Password" required />
      <select class="auth-input">
        <option value="" disabled selected hidden>Gender</option>
        <option value="Male"> Male</option>
        <option value="Female"> Female</option>
      </select>
      <input class="auth-input" type="text" name="region" placeholder="Region" required />
      <input class="auth-input" type="text" name="street" placeholder="Street" required />


      <button type="submit" class="auth-btn">Signup</button>

      <p class="muted-center">
        Already have an account?
        <a href="{% url 'login:login' %}" class="muted-link">Login</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}
