/* ------ */
/* HEADER */
/* ------ */

.main_header {
  background-color: white;
}

.header_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_navbar img {
  width: 110px;
  height: 70px;
}

.navbar_ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar_ul li {
  display: flex;
  align-items: center;
  margin: 15px;
  font-size: 12px;
}

.navbar_ul a {
  display: inline-block;
  min-width: 50px;
  text-align: center;
  padding: 10px;
  font-family: "Inter";
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.navbar_ul a:hover {
  transition: 0.1s ease;
  transform: scale(1.1);
}

.navbar_ul a:visited {
}

.navbar_ul a:active {
  color: black;
  transform: translateX(1px) translateY(1px);
}

.navbar_ul img {
  width: 16px;
  height: auto;
  vertical-align: middle;
}

/* ------ */
/* FOOTER */
/* ------ */

.main_footer {
  background-color: grey;
}

.main_footer div {
  border: 2px solid red;
  flex: 1;
}

.footer_cpyrights {
  display: inline-block;
}
