.main_header {
  background-color: white;
}

.header_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid red;
}

.navbar_ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar_ul li {
  display: flex;
  align-items: center;
  border: 3px solid red;
  margin: 15px;
  padding: 5px;
}

.navbar_ul img {
  width: 25px;
  height: 25px;
}
